@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo, @Model.Nome</h1>
    <p>Minha aplicação MVC.</p>
    <span>Seu email é: @Model.Email</span>
</div>
